@charset "UTF-8";

/* CSS Document */
body {
    background-color: #F4F6F9;
    font: 1em "Jua", Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: row;
}

#liste {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45vw;
    height: 90vh;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Add this line to create rounded corners */
    font: 1em "Inter", Arial, sans-serif;
} 

#droite {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 40vw;
    flex-grow: 1;
}

#entete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add this line to create space between child containers */
}

#entete img {
    width: 150px;
    height: 150px;
}

#entete h1 {
    color: #333;
}

#detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Add this line to create rounded corners */
    width: 35vw;
    font: 1em "Inter", Arial, sans-serif;
    padding: 20px;
    /*visibility: hidden;*/
}

#ligne {
    display: flex;
    flex-direction: row;
}