/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 mai 2024, 16:55:47
    Author     : lpigny
*/

body {
    background-color: #F4F6F9;
    font: 1em "Inter", Arial, sans-serif;
    color: #333;
}

#entete {
    font: 1em "Jua", Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Add this line to create space between child containers */
    margin: 20px auto; /* Add this line to center the form horizontally */
}

#entete img {
    width: 100px;
    height: 100px;
}

#nomEntete h1{
    color: #333;
    height: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#boutonFin {
    background-color: #840404;
    font: 2em "Jua", Arial, sans-serif;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 30px; /* Add this line to create rounded corners */
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#conteneur {
    display: flex;
    align-items: center;
    justify-content: center;
}

#visio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262525;
    border-radius: 5px;
}

#visio img {
    padding: 30px 50px;
}

#placeBoutonFin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Add this line to create rounded corners */
    max-width: 50vw; /* Add this line to limit the width */
    max-height: 50vh; /* Add this line to limit the height */
    margin: 0 auto; /* Add this line to center the form horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*display: none;*/
}

#pourContinuer {
    margin-top: 20px;
}

.bouton2 {
    background-color: #020E36;
    font: 1em "Jua", Arial, sans-serif;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px; /* Add this line to create rounded corners */
    cursor: pointer;
}

#stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

svg {
    height: 40px;
    fill: gray;
    cursor: pointer;
}
